<div class="container">
<div class="d-flex justify-content-center align-items-center flex-column justify-content-center w-100">
<h1>Student service</h1>
<div class="buttons" role="group">
<button type="button" class="btn btn-dark" [routerLink]="['/subject']">Subjects</button>
<button type="button" class="btn btn-dark" [routerLink]="['/student']">Students</button>
<button type="button" class="btn btn-dark" [routerLink]="['/professor']">Professors</button>
<button type="button" class="btn btn-dark" [routerLink]="['/examPeriod']">Exam periods</button>
<button type="button" class="btn btn-dark" [routerLink]="['/exam']">Exams</button>
</div>
</div>
</div>
