<div class="d-flex justify-content-center flex-column justify-content-center w-100">
<h1>Student service</h1>
<div class="btn-group" role="group">
<button type="button" class="btn btn-primary" [routerLink]="['/subject']">Subjects</button>
<button type="button" class="btn btn-primary" [routerLink]="['/student']">Students</button>
<button type="button" class="btn btn-primary" [routerLink]="['/professor']">Professors</button>
<button type="button" class="btn btn-primary" [routerLink]="['/examPeriod']">Exam periods</button>
</div>
</div>
