
<div *ngIf="addedProfessor" class="alert alert-success" role="alert" >
  Subject saved!
</div>
<form *ngIf="professorForm" [formGroup]="professorForm" (ngSubmit)="onSubmit()">
  <div class="m-auto w-50 p-4 border border-primary rounded">
    <h3>Professor:</h3>
  <a routerLink="/professor">Back to list</a>
    <div class="mb-3 d-flex flex-column">
      <label for="firstname" class="form-label">Firstname</label>
      <input id="firstname" class="form-control" formControlName="firstname" />
      <p class="alert alert-danger" *ngIf="professorForm.get('firstname').hasError('required') ">
        Firstname is required
      </p>
      <p class="alert alert-danger" *ngIf="professorForm.get('firstname').hasError('minlength')">
        Length is ({{professorForm.get('firstname').errors.minlength.actualLength}}) less than required length ({{professorForm.get('firstname').errors.minlength.requiredLength}})
      </p>

    </div>

    <div class="mb-3 d-flex flex-column">
      <label for="lastname" class="form-label">Lastname</label>
      <input id="lastname" class="form-control" formControlName="lastname"/>
      <p class="alert alert-danger" *ngIf="professorForm.get('lastname').hasError('required')">
        Lastname is required
      </p>
      <p class="alert alert-danger" *ngIf="professorForm.get('lastname').hasError('minlength')">
        Length is ({{professorForm.get('lastname').errors.minlength.actualLength}}) less than min length ({{professorForm.get('lastname').errors.minlength.requiredLength}})
      </p>

    </div>
    <div class="mb-3 d-flex flex-column">
      <label for="phone" class="form-label">Phone:</label>
      <input id="phone" class="form-control" formControlName="phone"/>
      <p class="alert alert-danger" *ngIf="professorForm.get('phone').hasError('minlength')">
        Length is ({{professorForm.get('phone').errors.minlength.actualLength}}) less than min length ({{professorForm.get('phone').errors.minlength.requiredLength}})
      </p>
    </div>

    <div class="mb-3 d-flex flex-column">
      <label for="email" class="form-label">Email</label>
      <input id="email" class="form-control" formControlName="email"/>
      <p class="alert alert-danger" *ngIf="professorForm.get('email').hasError('pattern')">
        Format is not valid
      </p>
    </div>
    <div class="mb-3 d-flex flex-column">
      <label for="address" class="form-label">Address</label>
      <input id="address" class="form-control" formControlName="address"/>
      <p class="alert alert-danger" *ngIf="professorForm.get('address').hasError('minlength')">
        Length is ({{professorForm.get('address').errors.minlength.actualLength}}) less than min length ({{professorForm.get('address').errors.minlength.requiredLength}})
      </p>
    </div>
    <div class="mb-3 d-flex flex-column">
      <label for="reelectionDate" class="form-label">Reelection date</label>
      <input type="date" id="reelectionDate" class="form-control" formControlName="reelectionDate"/>

      <p class="alert alert-danger" *ngIf="professorForm.get('reelectionDate').hasError('required') ">
       Reelection date of study is required
      </p>

    </div>



     <div class="mb-3 d-flex flex-column">
      <label for="city" class="form-label">City</label>
      <select id="city" class="form-select" formControlName="city">
        <option>Please select city</option>
        <option *ngFor="let city of cities" [ngValue]="city">
          {{ city.name }}
        </option>
      </select>
    </div>
    <div class="mb-3 d-flex flex-column">
      <label for="title" class="form-label">Title</label>
      <select id="title" class="form-select" formControlName="title">
        <option>Please select title</option>
        <option  *ngFor="let title of titles" [ngValue]="title">
          {{ title.name }}
        </option>
      </select>
      <p class="alert alert-danger" *ngIf="professorForm.get('title').hasError('required') " >
        Title is required
      </p>
    </div>

    <hr />
    <div class="mb-3 d-flex flex-column">
      <button type="button" class="btn btn-outline-success" (click)="onAddSubject()">
        Add subject
      </button>
    </div>
    <div *ngIf="addSubject"class="mb-3 d-flex flex-column">
      <label for="subject" class="form-label">Subject:</label>
      <select id="subject" class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedSubject">
        <option>Please select subject</option>
        <option *ngFor="let subject of subjects" [ngValue]="subject">
          {{ subject.name }}
        </option>
      </select>
      <label for="assignDate" class="form-label">Assign date</label>
      <input type="date" id="assignDate" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="asignDate" />
      <button class="btn btn-outline-success" (click)="addSelectedSubject()">
        Add
      </button>
    </div>
    <div class="d-flex flex-column w-50">
      <span class="subject-chip" *ngFor="let subjectProfessor of selectedSubjectProfessors;let i=index" >
        <div class="d-flex flex-row justify-content-between">
        <span> {{ subjectProfessor.subject.name}}</span><span (click)="removeSubjectAtIndex(i)"class="x">x</span>
        </div>
      </span>
    </div>
    <div  class="d-flex flex-row mt-2">
      <button class="btn btn-outline-success" [disabled]="!professorForm.valid" type="submit">
        Save professor
      </button>
    </div>
  </div>
</form>



