.subject-chip{
  padding: 2px 4px;
  border-radius: 10px;
  border: 1pt solid grey;
  background-color: lightgray;
  margin: 5px;
  width:100%;

}
.x{
  padding:1px;
  color:red;
  cursor: pointer;

}
.x:hover{
  border:1pt solid red;
  border-radius: 10px;
}
