<a routerLink="/professor">Back to list</a>
<div class="d-flex flex-column mt-3">

    <div class="col-lg-6 col-md-8 border border-primary p-2">
      <div>
      <h4>Title:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{professor?.title.name}}
        </span>
      </div>
    </div>
    <div>
      <h4>First name:</h4>
      <div>
        <span class="col-lg-8 col-md-6">
          {{professor?.firstname}}
        </span>
      </div>
    </div>
    <div>
      <h4>Last name:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{professor?.lastname}}
        </span>
      </div>
    </div>
    <div>
      <h4>Cty:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{professor?.city.name}}
        </span>
      </div>
    </div>
    <div>
      <h4>Address:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{professor?.address}}
        </span>
      </div>
    </div>
    <div>
      <h4>Email:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{professor?.email}}
        </span>
      </div>
    </div>
    <div>
      <h4>Phone:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{professor?.phone}}
        </span>
      </div>
    </div>
    <div>
      <h4>Reelection date:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{professor?.reelectionDate | date:'shortDate'}}
        </span>
      </div>
    </div>
    <div>
      <h4>Subjects:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6" *ngFor="let subject of professor?.subjects">
          {{subject.subject.name}}
        </span>
      </div>
    </div>



    </div>
</div>

