<a routerLink="/">Home</a>
<h2>Professor list</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">title</th>
    <th scope="col">Firstname</th>
    <th scope="col">Lastname</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let professor of professors; let i=index">
    <th scope="row">{{ i + (currentPage - 1) * pageSize + 1 }}</th>
    <td>{{ professor.title.name }}</td>
    <td>{{ professor.firstname }}</td>
    <td>{{ professor.lastname }}</td>
    <td>{{ professor.email }}</td>
    <td>{{ professor.phone }}</td>
    <td><button type="button" class="btn btn-primary" [routerLink]="['../professor-details', professor.id]" >Details</button>
      <button type="button" class="btn btn-primary" [routerLink]="['../professor-form', professor.id]" >Edit</button>
      <button (click)="onDeleteClick(professor)"type="button" class="btn btn-danger">Delete</button></td>
  </tr>
  </tbody>
</table>
<input type="number" name="pageSize" id="pageSize" [(ngModel)]="pageSize" (change)="onPageChange(1)">
<ngb-pagination [collectionSize]="totalItems" (pageChange)="onPageChange($event)" [(page)]="currentPage" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
<button type="button" class="btn btn-primary" [routerLink]="['../professor-form']" >Add professor</button>
