<a routerLink="/exam">Back to list</a>
<div class="d-flex flex-column mt-3">

    <div class="col-lg-8 col-md-8 border border-primary p-2 rounded m-3" >
      <h4>Subject:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{exam?.subject.name}}
        </span>
      </div>
      <h4>Professor:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{exam?.professor.title.name}} {{exam?.professor.firstname}} {{exam?.professor.lastname}}
        </span>
      </div>
      <h4>Exam period:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{exam?.examPeriod.name }}
        </span>
      </div>
      <h4>Date of exam:</h4>
      <div class="row">
        <span class="col-lg-8 col-md-6">
          {{exam?.dateOfExam | date:'shortDate'}}
        </span>
      </div>
      <div *ngIf="exam?.students.length!=0">
        <h4>Students taking exam:</h4>
        <div class="row">
          <ul>
          <li  *ngFor="let student of exam?.students">
            {{student.student.firstname}} {{student.student.lastname}}
          </li>
        </ul>
        </div>
      </div>


    </div>
</div>
